{% trans_default_domain 'FOSUserBundle' %}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <div class="text-center" style="margin-left: 30%;margin-right: 30%;margin-top: 50px;">
            <h1>Modifier mot de passe</h1>  
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="form-group">
                {{ form_widget(form.current_password, { 'attr': {'class': 'input' , 'placeholder':'Mot de passe actuel', 'required':true} }) }}<br>
                </div>
                <div class="form-group">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input' , 'placeholder':'Nouveau mot de passe', 'required':true} }) }}<br>
                </div>
                <div class="form-group">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input' , 'placeholder':'Resaisir le nouveau mot de passe', 'required':true} }) }}<br>
                </div>
                <div style="margin-top: 10px;">
                    <input class="primary-btn" style="width: 100%" type="submit" value="Enregistrer" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
