{% trans_default_domain 'FOSUserBundle' %}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        
            <div class="row">
                <div class="col-md-6">
                    <h1>Mes Infos</h1>  
                    <form action="{{ path('fos_user_profile_edit') }}" method="post" id="profile-form">
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.username)}}</span>
                        {{ form_widget(form.username, { 'attr': {'class': 'input' , 'placeholder':'Username', 'required':true} }) }}
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.email)}}</span>
                        {{ form_widget(form.email, { 'attr': {'class': 'input' , 'placeholder':'E-mail', 'required':true} }) }}<br>
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.nom)}}</span>
                        {{ form_widget(form.nom, { 'attr': {'class': 'input' , 'placeholder':'Nom', 'required':true} }) }}<br>
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.prenom)}}</span>
                        {{ form_widget(form.prenom, { 'attr': {'class': 'input' , 'placeholder':'Prenom', 'required':true} }) }}<br>
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.phone)}}</span>
                        {{ form_widget(form.phone, { 'attr': {'class': 'input' , 'placeholder':'Télephone', 'required':true} }) }}<br>
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.adress)}}</span>
                        {{ form_widget(form.adress, { 'attr': {'class': 'input' , 'placeholder':'Adresse', 'required':true} }) }}<br>
                    </div>
                    <div class="form-group">
                        <span class="text-uppercase">{{form_label(form.city)}}</span>
                        {{ form_widget(form.city, { 'attr': {'class': 'input' , 'placeholder':'Gouvernaurat', 'required':true} }) }}<br>
                    </div>
                    {{ form_widget(form._token) }}
                    <div class="text-right">
                        <input type="submit" class="primary-btn" value="Enregistrer" />
                    </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h1>Autres</h1> 
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-lg btn btn-primary text-right">Modifier Mot de passe</a><br><br>
                    {#<hr>
                    {{ render(controller(
                        'App\\Controller\\Front\\AdressesUserController::index'
                    )) }}
                    <a href="#" class="btn btn-lg btn btn-primary" style="width: 100%;"><i class="fa fa-phone"></i> Télephones</a><br><br>#}
                </div>
            </div>
        
    </div>
</div>

