{% extends "layoutAdmin.html.twig" %}
{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{ asset('template/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('template/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css') }}" rel="stylesheet"/>
<link href="{{ asset('template/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css') }}" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/typeahead/typeahead.css') }}">
    <link href="{{ asset('template/assets/global/css/components-rounded.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('template/assets/global/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('template/assets/admin/layout4/css/layout.css') }}" rel="stylesheet" type="text/css"/>
    <link id="style_color" {{ asset('template/assets/admin/layout4/css/themes/light.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    
{% endblock %}
{% block title %}Tableau de bord | Nouveau produit{% endblock %}
{% block body %}>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{{store.name}} <small>Produits</small></h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('backoffice_homepage') }}">Tableau de bord</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path('manager_stores_back_details', {id : store.id}) }}">{{store.name}}</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Produits</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Nouveau</a>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-row-seperated" action="{{ path('manager_product_back_new_traitement_by_store', {id : store.id}) }}" method="post" role="form" enctype="multipart/form-data">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-basket font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">
                                        Produit </span>
                                    <span class="caption-helper">Nouveau</span>
                                </div>
                                <div class="actions btn-set">
                                    <a class="btn green-haze btn-circle" href="{{ path('manager_stores_back_index') }}">
                                        <i class="fa fa-list"></i> Tous </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_general" data-toggle="tab">
                                                Infos générale </a>
                                        </li>
                                        <li>
                                            <a href="#tab_meta" data-toggle="tab">
                                                Images </a>
                                        </li>
                                        <li>
                                            <a href="#tab_images" data-toggle="tab">
                                                Caractéristiques
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab_reviews" data-toggle="tab">
                                                Promotions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab_keywords" data-toggle="tab">
                                                Mots clés
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-space">
                                        <div class="tab-pane active" id="tab_general">
                                            <div class="form-body">
                                                <h3>Infos générale</h3>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Nom: <span class="required">
                                                                    * </span>
                                                            </label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" name="nom" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Prix: <span class="required">
                                                                    * </span>
                                                            </label>
                                                            <div class="col-md-10">
                                                                <input type="number" class="form-control" name="price" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Quantité: <span class="required">
                                                                    * </span>
                                                            </label>
                                                            <div class="col-md-10">
                                                                <input type="number" class="form-control" name="qte" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Catégorie</label>
                                                            <select id="cm" class="form-control">
                                                                <option value="rien">Sélectionner une categorie</option>
                                                                {% for cm in categoriesMere %}
                                                                    <option value="{{cm.id}}">{{cm.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" style="margin-left: 10px">
                                                            <label>Sous categorie</label>
                                                            <select id="sc1" class="form-control" disabled="true">
                                                                <option value="rien">Sélectionner une categorie</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" style="margin-left: 10px">
                                                            <label>Sous catégorie 2</label>
                                                            <select id="sc2" class="form-control" disabled="true" name="sc">
                                                                <option value="rien">Sélectionner une categorie</option>
                                                            </select>
                                                        </div>
                                                    </div> 
                                                            <div class="form-group" style="margin-left: 10px">
                                                            <label>Marque</label>
                                                            <select id="marque" class="form-control" disabled="true" name="marque">
                                                                <option value="rien">Sélectionner une marque</option>
                                                            </select>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Déscription</label>
                                                                <textarea class="form-control" rows="3" name="descriptionC"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_meta">
                                                <h3>Images</h3>
                                                <div class="col-md-12">
                                                    <label>Image d'ouveture</label> <br>
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group input-large">
                                                            <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                                                </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new">
                                                                    Sélectionner une image </span>
                                                                <span class="fileinput-exists">
                                                                    Changer </span>
                                                                <input type="file" name="iconeC">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                                Supprimer </a>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    Autres Images <br>
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-lg-7">
                                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                                            <span class="btn green fileinput-button">
                                                                <i class="fa fa-plus"></i>
                                                                <span>
                                                                    Add files... </span>
                                                                <input type="file" name="images[]" multiple="">
                                                            </span>
                                                            <input type="checkbox" class="toggle">
                                                            <!-- The global file processing state -->
                                                            <span class="fileupload-process">
                                                            </span>
                                                        </div>
                                                        <!-- The global progress information -->
                                                        <div class="col-lg-5 fileupload-progress fade">
                                                            <!-- The global progress bar -->
                                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                                <div class="progress-bar progress-bar-success" style="width:0%;">
                                                                </div>
                                                            </div>
                                                            <!-- The extended global progress information -->
                                                            <div class="progress-extended">
                                                                &nbsp;
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- The table listing the files available for upload/download -->
                                                    <table role="presentation" class="table table-striped clearfix">
                                                        <tbody class="files">
                                                        </tbody>
                                                    </table>

                                                </div>
                                        </div>
                                        <div class="tab-pane" id="tab_images">
                                            <h3>Caractéristiques</h3>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        {% for caracteristique in caracteristiques %}
                                                            <div class="col-md-3">
                                                                <h5>{{caracteristique.name}}</h5>
                                                                {% for valeur in caracteristique.valeurs %}
                                                                    <div class="form-group">

                                                                        <input id="{{valeur.id}}" type="radio" name="valeur{{caracteristique.id}}" value="{{valeur.id}}">
                                                                        <label for="{{valeur.id}}">{{valeur.name}}</label>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_reviews">
                                            <h3>Promotion</h3>
                                            <div id="phones">
                                                <div class="blocPhone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        Début <br>
                                                        <input type="date" id="from" class="form-control" name="datedeb" placeholder="Date de début">
                                                    </div>
                                                    <div class="col-md-4">
                                                        Fin<br>
                                                        <input type="date" id="to" class="form-control" name="datefin" placeholder="Date de fin">
                                                    </div>
                                                    <div class="col-md-4">
                                                        Montant<br>
                                                        <input type="number" class="form-control" name="fixe" placeholder="Montant">
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_keywords">
                                            <h3>Mots clés</h3>
                                            <input id="tags_1" type="text" class="form-control tags" name="keywords"/>
                                            
                                        </div>
                                    </div>
                                </div>
                                                    <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success pull-right">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('template/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<!-- END PAGE LEVEL PLUGINS-->
<!-- BEGIN:File Upload Plugin JS files-->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js') }}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js') }}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js') }}"></script>
<!-- blueimp Gallery script -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js') }}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js') }}"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ asset('template/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/fuelux/js/spinner.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/typeahead/handlebars.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/typeahead/typeahead.bundle.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('template/assets/admin/pages/scripts/components-form-tools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/plupload/js/plupload.full.min.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script>
        
        jQuery(document).ready(function () {
            $("#kv-explorer").fileinput({
            'theme': 'explorer-fa',
            'uploadUrl': '#',
            language: 'fr',
            allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],
            overwriteInitial: false,
            initialPreviewAsData: true,
        });
            $('#cm').change(function(){
                var id = $(this).val();
                if(id=='rien'){
                    $('#sc1').prop('disabled', true);
                }else{
                    var url = '{{path('manager_sc1_by_cm', {'cm': 'valeurselectionnee'})}}';
                    url = url.replace("valeurselectionnee", id);
                    $.ajax({

                        url: url,
                        method: "GET",
                        error: function ()
                        {
                            alert('une erreur');
                        },
                        beforeSend: function ()
                        {
                            
                        },
                        success: function (result)
                        {
                            $('#sc1').prop('disabled', false);
                            $('#sc1').html(result['options']);
                        }
                    });
                }
            });
            $('#sc1').change(function(){
                var id = $(this).val();
                if(id=='rien'){
                    $('#sc2').prop('disabled', true);
                }else{
                    var url = '{{path('manager_sc2_by_sc1', {'sc1': 'valeurselectionnee'})}}';
                    url = url.replace("valeurselectionnee", id);
                    $.ajax({

                        url: url,
                        method: "GET",
                        error: function ()
                        {
                            alert('une erreur');
                        },
                        beforeSend: function ()
                        {
                            
                        },
                        success: function (result)
                        {
                            $('#sc2').prop('disabled', false);
                            $('#sc2').html(result['options']);
                        }
                    });
                }
            });
        $('#sc2').change(function(){
                var id = $(this).val();
                if(id=='rien'){
                    $('#marque').prop('disabled', true);
                }else{
                    var url = '{{path('marques_by_categorie', {'id': 'valeurselectionnee'})}}';
                    url = url.replace("valeurselectionnee", id);
                    $.ajax({

                        url: url,
                        method: "GET",
                        error: function ()
                        {
                            alert('une erreur');
                        },
                        beforeSend: function ()
                        {
                            
                        },
                        success: function (result)
                        {
                            $('#marque').prop('disabled', false);
                            $('#marque').html(result['options']);
                        }
                    });
                }
            });
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            ComponentsFormTools.init();
        });
    </script>
{% endblock %}
{# empty Twig template #}
