{% extends "layoutAdmin.html.twig" %}
{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/typeahead/typeahead.css') }}">
    <link {{ asset('template/assets/global/css/components-rounded.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link {{ asset('template/assets/global/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link {{ asset('template/assets/admin/layout4/css/layout.css') }}" rel="stylesheet" type="text/css"/>
    <link id="style_color" {{ asset('template/assets/admin/layout4/css/themes/light.css') }}" rel="stylesheet" type="text/css"/>
    {# <link href="{{ asset('template/bootstrapFileInput/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
     <link href="{{ asset('template/bootstrapFileInput/themes/explorer-fa/theme.css') }}" media="all" rel="stylesheet" type="text/css"/>
     #}<!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block title %}Tableau de bord | {{store.name}}{% endblock %}
{% block body %}>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{{store.name}} <small>Détails</small></h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('backoffice_homepage') }}">Tableau de bord</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path('dashboard_stores_back_index') }}">Marchands</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    {{store.name}}
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-row-seperated" action="{{ path('dashboard_stores_back_new_traitement') }}" method="post" role="form" enctype="multipart/form-data">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-basket font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">
                                        {{ store.name }} </span>
                                    <span class="caption-helper">Détails</span>
                                </div>
                                <div class="actions btn-set">
                                    <a class="btn green-haze btn-circle" href="{{ path('dashboard_stores_back_index') }}">
                                        <i class="fa fa-chevron-left"></i> Retour </a>
                                    <a class="btn green-haze btn-circle" href="{{ path('dashboard_product_index_by_store', {id:store.id}) }}">
                                        <i class="fa fa-list"></i> Produits </a>
                                    <a class="btn green-haze btn-circle" href="{{ path('dashboard_stores_back_edit', {id:store.id}) }}">
                                        <i class="fa fa-pencil"></i> Modifier </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                {% if app.session.flashBag.has('success') %}
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {% for msg in app.session.flashBag.get('success') %}
                                            <i class="fa fa-check"></i> {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h3>Propriétaire</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Nom & prenom : </b>{{store.marchand.user.nom}} {{store.marchand.user.prenom}}
                                        <br><br>
                                        <b>Numéro du registre commerciale : </b>{{store.marchand.nrc}}
                                        <br><br>
                                        <b>Matricule discale : </b>{{store.marchand.matriculeFiscale}}
                                    </div>
                                    <div class="col-md-6">
                                        <b>Username : </b>{{store.marchand.user.username}}<br><br>
                                        <b>Email : </b>{{store.marchand.user.email}}
                                    </div>
                                </div>
                                    <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-circle" src="{{ asset('/uploads/shops/logos/') }}{{ store.logo }}" style="height: 200px;width: 200px;">
                                    </div>
                                    <div class="col-md-9">
                                        <img src="{{ asset('/uploads/shops/couvertures/') }}{{ store.imageCouverture }}" style="height: 300px;width: 100%;">
                                    </div>
                                </div>
                                
                                <hr>
                                
                                {{store.getDescription()}}
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4>Adresse{{store.adressesStore|length>1?'s':''}}</h4>
                                        {% for adresse in store.adressesStore %}
                                            <i class="fa fa-map-marker"></i> {{adresse.rue}}<br>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Télephone{{store.telephonesStore|length>1?'s':''}}</h4>
                                        {% for phone in store.telephonesStore %}
                                            <i class="fa fa-phone"></i> {{phone.numero}}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/fuelux/js/spinner.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/typeahead/handlebars.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/typeahead/typeahead.bundle.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('template/assets/admin/pages/scripts/components-form-tools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ asset('template/assets/global/plugins/plupload/js/plupload.full.min.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script>
        
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
    </script>
{% endblock %}
