{% for categorie in sc2 %}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
           
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">{{ categorie.name }}</h2>
                        <div class="pull-right">
                            <a class="bouton-gris" href="{{ path('product_by_category', {id:categorie.id, title: categorie.name}) }}">Voir plus</a>
                        </div>
                    </div>
                </div>
                <!-- section title -->



                <!-- Product Slick -->
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="row">
                        <div id="product-slick-{{categorie.id}}" class="product-slick">
                            {% for product in categorie.products %}
                                <!-- Product Single -->
                                <div class="product product-single">
                                    <div class="product-thumb">
                                        <div class="product-label">
                                            <span>New</span>
                                            <span class="sale">-20%</span>
                                        </div>
                                        <a href="{{ path('product_page', {id:product.id}) }}" class="main-btn quick-view"> Détails</a>
                                        <img src="{{ asset('uploads/products/images/') }}{{ product.image }}" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-price">$32.50</h3>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o empty"></i>
                                        </div>
                                        <h2 class="product-name"><a href="#">{{ product.name }}</a></h2>
                                        <div class="product-btns">
                                            <button class="main-btn icon-btn add-to-favoris" data-id="{{product.id}}"><i class="fa fa-heart"></i></button>
                                            <!--<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>-->
                                            {#<a href="{{ path('add_product_to_cart', {id:product.id}) }}" class="primary-btn add-to-cart"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> panier</a>#}
                                            <button class="primary-btn add-to-cart" data-id="{{product.id}}"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> panier</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Single -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- /Product Slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    
{% endfor %}

