{% extends "base.html.twig" %}
{% block title %}{{ categorie.name }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('custom/css/nouislider.min.css') }}">
<style type="text/css">
.primary-btn{
    width: 100%;
}
</style>
{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    {{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}

    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Kaiser Mall</a></li>
                <li class="active">{{ categorie.name }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container list-products-container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-2">
                    
                    <!-- start if mobile -->
                    <!-- end if mobile -->
                    <!-- aside widget -->
                    
                    
                    <!-- aside widget -->
                    <div class="aside filter-bloc">
                        <h3 >Prix :</h3>
                            <div id="price-slider"></div>
                            <input type="hidden" name="minp" id="minp" value="{{min-2}}">
                            <input type="hidden" name="maxp" id="maxp" value="{{max+2}}">
                            <hr>
                        <h5>Marques</h5>
                        <ul>
                            {% for marque in marques %}
                                <li>
                                    <input id="marque{{marque.id}}" name="marque" class="marque" type="checkbox" value="{{marque.id}}" data-valeur="{{marque.name}}">
                                    <label for="marque{{marque.id}}"> {{marque.name}}</label>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                        {% for caracteristique in categorie.caracteristiques %}
                        <h5>{{ caracteristique.name }}</h5>
                        <ul>
                            {% for valeur in caracteristique.valeurs %}
                                <li>
                                    <input id="valeur{{valeur.id}}" name="valeur" class="valeur" type="checkbox" value="{{valeur.id}}" data-valeur="{{valeur.name}}">
                                    <label for="valeur{{valeur.id}}"> {{valeur.name}}</label>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if not loop.last %}<hr>{% endif %}
                        {% endfor %}
                    </div>
                    <!-- /aside widget -->
                    
                </div>
                <!-- /ASIDE -->

                <!-- MAIN -->
                <div id="main" class="col-md-10">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="sort-filter">
                                <span class="text-uppercase">Trier par :</span>
                                <select class="input filter-product" style="width: 236px;">
                                    <option>Sélectionner</option>
                                    <option value="1">De plus cher au moins cher</option>
                                    <option value="2">De moins cher au plus cher</option>
                                    <option value="3">Plus populaires</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- STORE -->
                    <div id="store">
                        <div id="list-produits">
                            <!-- row -->
                            <div class="row">
                                {% for product in products %}
                                    {% if(product.qte>0) %}
                                    <!-- Product Single -->
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="product product-single {{product.pricePromotion<product.price?'product-hot-promotion':'product-hot'}}" style="height: 360px;">
                                        <div class="product-thumb">
                                            <div class="product-label">
                                                {#{% set today = "now"|date("d/m/Y") %}
                                                {% set difference = date(today).diff(date(product.createdAt|date('d/m/Y'))) %}
                                                {{difference.days < 7?'<span>New </span>':''}}#}
                                                {% if(product.pricePromotion<product.price != null) %}
                                                    <span class="sale">
                                                        {% set difference = product.price - product.pricePromotion %}
                                                        {% set pourcentage = (difference/product.price)*100 %}
                                                        -{{pourcentage|round}}%
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <a href="{{ path('product_page', {slug:product.slug}) }}" class="main-btn quick-view"> Détails</a>
                                            <img src="{{ asset('uploads/products/images/') }}{{ product.image }}" alt="" class="img-product-filter">
                                        </div>
                                        <div class="product-body">
                                            {% if(product.pricePromotion<product.price != null) %}
                                                <h3 class="product-price">{{product.pricePromotion}} TND<del class="product-old-price">  {{product.price}} TND</del></h3>
                                            {% else %}
                                                <h3 class="product-price">{{product.price}} TND</h3>
                                            {% endif %}
                                            {#<div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>#}
                                            <h2 class="product-name"><a href="#">{{ product.name }}</a></h2>
                                            {#<div class="product-btns text-center">
                                                {% if is_granted('AUTHENTIFICATED_FULLY') %}
                                                    <button class="main-btn icon-btn add-to-favoris" data-id="{{product.id}}" title="Ajouter à mes favoris"><i class="fa fa-heart"></i></button>
                                                {% endif %}
                                                <button title="Ajouter au panier" class="primary-btn add-to-cart" data-id="{{product.id}}"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i></button>
                                            </div>#}
                                        </div>
                                    </div>
                                    </div>
                                    <!-- /Product Single -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /STORE -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="sort-filter">
                                <span class="text-uppercase">Trier par :</span>
                                <select class="input filter-product" style="width: 236px;">
                                    <option>Sélectionner</option>
                                    <option value="1">De plus cher au moins cher</option>
                                    <option value="2">De moins cher au plus cher</option>
                                    <option value="3">Plus populaires</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
                        <input type="hidden" id="categorieId" value="{{categorie.id}}">
    <!-- /section -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('custom/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('custom/js/wNumb.js') }}"></script>

    <script>
        ///filter by range price
    // PRICE SLIDER
    
        var minp = $('#minp').val();
        var maxp = $('#maxp').val();
    var dollarPrefixFormat = wNumb({prefix: ' TND', decimals: 0})
  var slider = document.getElementById('price-slider');
  if (slider) {
    noUiSlider.create(slider, {
      start: [{{min-2}}, {{max+2}}],
      connect: true,
      tooltips: [dollarPrefixFormat, dollarPrefixFormat],
      pips: {
            mode: 'steps',
            density: 5,
            format: dollarPrefixFormat
        },
      range: {
        'min': {{min - 2}},
        'max': {{max+ 2}}
      }
    });
  }
    slider.noUiSlider.on('set', function( values, handle ) {
            var min = values[0];
            var max = values[1];
            
        minp = min;
        maxp = max;
            var categorie =$('#categorieId').val();

            var caracteristiques = [];
            $("input[name='valeur']:checked").each(function(){
                caracteristiques.push($(this).val());
            });
            var marques = [];
            $("input[name='marque']:checked").each(function(){
                marques.push($(this).val());
            });
        $.ajax({
            url: '{{ path('tri_product') }}',
            data: {min:min, max:max, categorie:categorie, caracteristiques:caracteristiques, marques:marques},
            method: "POST",
            error: function (data) {
                console.log(data['marques']);
            },
            beforeSend:function(){
                $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
            }
            ,
            success: function (data) {
                console.log(data['range']);
                $('#list-produits').html(data['products']);
                //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
            }
        });
    });
    
    
    /// tri and Filter by caractéristiques and marques(couleur, taille, genre.....)
        var categorie =$('#categorieId').val();
        var caracteristiques = [];
        var marques = [];
        var categories = [];
        var store = $('#storeId').val();
        $('input[name="valeur"]').change(function(){
            var myVal = $(this).val();
            var marquesc = [];
            $("input[name='marque']:checked").each(function(){
                marquesc.push($(this).val());
            });
            if($(this).prop("checked")){
                caracteristiques.push($(this).val());
            }else{
               caracteristiques = caracteristiques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
            $.ajax({
                url: '{{ path('tri_product') }}',
                data: {caracteristiques:caracteristiques, categorie:categorie, min:minp, max:maxp, marques:marquesc},
                method: "POST",
                error: function (data) {
                    console.log('Erreur de trier les produit');
                },
                beforeSend:function(){
                    $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
                }
                ,
                success: function (data) {
                    console.log(data['nbr']);
                    {#console.log('caracteristique');
                    console.log($(this).data('valeur'));
                    #}
                    $('#list-produits').html(data['products']);
                    //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
                }
            });
            console.log(caracteristiques);
        });
        
        $('input[name="cat"]').change(function(){
            var myVal = $(this).val();
            if($(this).prop("checked")){
                categories.push($(this).val());
            }else{
               categories = categories.filter(function(elem){
                    return elem != myVal; 
                 });
            }
            $.ajax({
                url: '{{ path('tri_product') }}',
                data: {caracteristiques:caracteristiques, categories:categories, store:store, min:minp, max:maxp},
                method: "POST",
                error: function (data) {
                    console.log('Erreur de trier les produit');
                },
                beforeSend:function(){
                    $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
                }
                ,
                success: function (data) {
                    console.log(data['nbr']);
                    {#console.log('caracteristique');
                    console.log($(this).data('valeur'));
                    #}
                    $('#list-produits').html(data['products']);
                    //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
                }
            });
            console.log(caracteristiques);
        });
        
        
        ///Filter By marque
        
        $('input[name="marque"]').change(function(){
        
            var myVal = $(this).val();
            var caracteristiques = [];
            $("input[name='valeur']:checked").each(function(){
                caracteristiques.push($(this).val());
            });
            if($(this).prop("checked")){
                marques.push($(this).val());
            }else{
               marques = marques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
            var myMarques = $(this).val();
            if($(this).prop("checked")){
                marques.push($(this).val());
            }else{
               marques = marques.filter(function(elem){
                    return elem != marques; 
                 });
            }
            $.ajax({
                url: '{{ path('tri_product') }}',
                data: {caracteristiques:caracteristiques, categorie:categorie, marques:marques, store:store, min:minp, max:maxp},
                method: "POST",
                error: function (data) {
                    console.log('Erreur de trier les produit');
                },
                beforeSend:function(){
                    $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
                }
                ,
                success: function (data) {
                    console.log(data['nbr']);
                    {#console.log('caracteristique');
                    console.log($(this).data('valeur'));
                    #}
                    $('#list-produits').html(data['products']);
                    //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
                }
            });
            console.log(caracteristiques);
        });
        
        
        
        
    ////// Tri profuct by facteur
    $('.filter-product').change(function(){
    
        var caracteristiques = [];
        var valeur = $(this).val();
        var categorie =$('#categorieId').val();
        $('input[name="valeur"]').each(function() {
            if($(this).prop("checked")){
                caracteristiques.push($(this).val());
            }else{
                var myVal = $(this).val();
               caracteristiques = caracteristiques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
        });
        $('input[name="marque"]').each(function() {
            if($(this).prop("checked")){
                marques.push($(this).val());
            }else{
                var myVal = $(this).val();
               marques = marques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
        });
        $.ajax({
            url: '{{ path('tri_product') }}',
            data: {valeur:valeur, categorie:categorie, caracteristiques:caracteristiques, marques:marques, store:store},
            method: "POST",
            error: function (data) {
                console.log('Erreur de trier les produit');
            },
            beforeSend:function(){
                $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
            }
            ,
            success: function (data) {
                
                $('#list-produits').html(data['products']);
                //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
            }
        });
    });
    
    
</script>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("mobile-filterr");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
{% endblock %}
