{% extends "base.html.twig" %}
{% block title %}{{ store.name }}{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('e-shop/css/nav.css') }}" />
    <style type="text/css">
        .section {
            margin-top: -62px;
        }
        .slick-slide {
            width: 200px;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    {{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}

    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Kaiser Mall</a></li>
                <li class="active">{{ store.name }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <input type="hidden" id="storeId" value="{{ store.id }}">
    <div class="text-center">
        <img src="{{ asset('/uploads/shops/couvertures/') }}{{ store.imageCouverture }}" class="cover-store">
        <div class="bloc-logo-store">
            <img src="{{ asset('/uploads/shops/logos/') }}{{ store.logo }}" class="logo-store">
        </div>
        <h1>{{store.name}}</h1>
        <br><br>
    </div>
    <div id="groups-products">
        {% include 'includes/front/store/groupsList.html.twig' %}
    </div>
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                {# <div id="aside" class="col-md-2">
                    
                    <!-- start if mobile -->
                    <div class="aside mobile-filter">
                        <button class="primary-btn" id="recherche-btn" type="button" data-toggle="modal" data-target="#myModal">Recherche</button>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog" style="overflow-y: initial !important">

                        <!-- Modal content-->
                        <div class="modal-content">
                                

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Recherche</h4>
                              </div>
                              <div class="modal-body" style="overflow-y: auto;height: 550px;">
                                <div class="aside">
                                    <h3 >Prix :</h3>
                                    <div id="price-slider"></div>
                                    <input type="hidden" name="minp" id="minp" value="{{min-2}}">
                                    <input type="hidden" name="maxp" id="maxp" value="{{max+2}}">
                                </div>
                                <!-- aside widget -->
                                <div class="aside">
                                    <h5>Marques</h5>
                                    <ul>
                                        {% for marque in marques %}
                                            <li>
                                                <input id="marque{{marque.id}}" name="marque" class="marque" type="checkbox" value="{{marque.id}}" data-valeur="{{marque.name}}">
                                                <label for="marque{{marque.id}}"> {{marque.name}}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    {% for caracteristique in categorie.caracteristiques %}
                                    <h5>{{ caracteristique.name }}</h5>
                                    <ul>
                                        {% for valeur in caracteristique.valeurs %}
                                            <li>
                                                <input id="valeur{{valeur.id}}" name="valeur" class="valeur" type="checkbox" value="{{valeur.id}}" data-valeur="{{valeur.name}}">
                                                <label for="valeur{{valeur.id}}"> {{valeur.name}}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if not loop.last %}<hr>{% endif %}
                                    {% endfor %}
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              </div>
                        </div>

                      </div>
                    </div>
                    <!-- end if mobile -->
                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Prix :</h3>
                        <div id="price-slider"></div>
                    </div>
                    
                    <!-- aside widget -->
                    <div class="aside filter-bloc">
                        <h5>Marques</h5>
                        <ul>
                            {% for marque in marques %}
                                <li>
                                    <input id="marque{{marque.id}}" name="marque" class="marque" type="checkbox" value="{{marque.id}}" data-valeur="{{marque.name}}">
                                    <label for="marque{{marque.id}}"> {{marque.name}}</label>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                        {% for categorie in categories %}
                        {% for caracteristique in categorie.caracteristiques %}
                        <h5>{{ caracteristique.name }}</h5>
                        <ul>
                            {% for valeur in caracteristique.valeurs %}
                                <li>
                                    <input id="valeur{{valeur.id}}" name="valeur" class="valeur" type="checkbox" value="{{valeur.id}}" data-valeur="{{valeur.name}}">
                                    <label for="valeur{{valeur.id}}"> {{valeur.name}}</label>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if not loop.last %}<hr>{% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- /aside widget -->
                    
                </div> #}
                <!-- /ASIDE -->

                <!-- MAIN -->
                <div id="main" class="col-md-12">
                    <!-- store top filter -->
                    
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="sort-filter">
                                <span class="text-uppercase">Trier par :</span>
                                <select class="input filter-product" style="width: 236px;">
                                    <option>Sélectionner</option>
                                    <option value="1">De plus cher au moins cher</option>
                                    <option value="2">De moins cher au plus cher</option>
                                    <option value="3">Plus populaires</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- STORE -->
                    <div id="store">

                        <div id="list-produits">
                            <!-- row -->
                            <div class="row">
                                {% for product in products %}
                                    {% if(product.qte>0) %}
                                    <!-- Product Single -->
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="product product-single {{product.pricePromotion != null?'product-hot-promotion':'product-hot'}}" style="height: 360px;">
                                        <div class="product-thumb">
                                            <div class="product-label">
                                                {#{% set today = "now"|date("d/m/Y") %}
                                                {% set difference = date(today).diff(date(product.createdAt|date('d/m/Y'))) %}
                                                {{difference.days < 7?'<span>New </span>':''}}#}
                                                {% if(product.pricePromotion != null) %}
                                                    <span class="sale">
                                                        {% set difference = product.price - product.pricePromotion %}
                                                        {% set pourcentage = (difference/product.price)*100 %}
                                                        -{{pourcentage|round}}%
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <a href="{{ path('product_page', {slug:product.slug}) }}" class="main-btn quick-view"> Détails</a>
                                            <img src="{{ asset('uploads/products/images/') }}{{ product.image }}" alt="" class="img-product-filter">
                                        </div>
                                        <div class="product-body">
                                            {% if(product.pricePromotion != null) %}
                                                <h3 class="product-price">{{product.pricePromotion}} TND<del class="product-old-price">  {{product.price}} TND</del></h3>
                                            {% else %}
                                                <h3 class="product-price">{{product.price}} TND</h3>
                                            {% endif %}
                                            {#<div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>#}
                                            <h2 class="product-name"><a href="#">{{ product.name }}</a></h2>
                                            {#<div class="product-btns text-center">
                                                {% if is_granted('AUTHENTIFICATED_FULLY') %}
                                                    <button class="main-btn icon-btn add-to-favoris" data-id="{{product.id}}" title="Ajouter à mes favoris"><i class="fa fa-heart"></i></button>
                                                {% endif %}
                                                <button title="Ajouter au panier" class="primary-btn add-to-cart" data-id="{{product.id}}"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i></button>
                                            </div>#}
                                        </div>
                                    </div>
                                    </div>
                                    <!-- /Product Single -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /STORE -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="sort-filter">
                                <span class="text-uppercase">Trier par :</span>
                                <select class="input filter-product" style="width: 236px;">
                                    <option>Sélectionner</option>
                                    <option value="1">De plus cher au moins cher</option>
                                    <option value="2">De moins cher au plus cher</option>
                                    <option value="3">Plus populaires</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block javascripts %}
    <script>
    {% for group in groups %}
            $('#product-slick-{{group.id}}').slick({
                slidesToShow: 5,
                slidesToScroll: 2,
                autoplay: false,
                infinite: true,
                speed: 300,
                dots: true,
                arrows: false,
                appendDots: '.product-slick-dots-1',
                variableWidth: true,
                responsive: [{
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            dots: false,
                            arrows: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                        }
                    },
                ]
            });
        {% endfor %}

    </script>

    <script src="{{ asset('custom/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('custom/js/wNumb.js') }}"></script>
    <script type="text/javascript">
    
        ///filter by range price
    // PRICE SLIDER
    var dollarPrefixFormat = wNumb({prefix: 'TND', decimals: 0})
  var slider = document.getElementById('price-slider');
  if (slider) {
    noUiSlider.create(slider, {
      start: [{{min-2}}, {{max+2}}],
      connect: true,
      tooltips: [dollarPrefixFormat, dollarPrefixFormat],
      pips: {
            mode: 'steps',
            density: 5,
            format: dollarPrefixFormat
        },
      range: {
        'min': {{min - 2}},
        'max': {{max+ 2}}
      }
    });
  }
    slider.noUiSlider.on('set', function( values, handle ) {
            var min = values[0];
            var max = values[1];
            var categorie =$('#categorieId').val();
            var store = $('#storeId').val();
        $.ajax({
            url: '{{ path('tri_product') }}',
            data: {min:min, max:max, categorie:categorie, store:store},
            method: "POST",
            error: function (data) {
                console.log('Erreur de trier les produit');
            },
            beforeSend:function(){
                $('#list-produits').html('<div class=text-center><div class="loader"></div></div>');
            }
            ,
            success: function (data) {
                console.log(data['range']);
                $('#list-produits').html(data['products']);
                //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
            }
        });
    });
    </script>
{% endblock %}
