{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('e-shop/css/nav.css') }}" />
    <style>
        .section {
            margin-top: -62px;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav">
                    <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        {% for categorie in categories %}
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" style="margin: -6px;font-size: 12px;" data-toggle="dropdown" aria-expanded="true">{{ categorie.name }} <i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    {% for sc1 in categorie.categories %}
                                        <div class="col-md-3">
                                            <ul class="list-links">
                                                <li>
                                                    <h6 class="list-links-title">{{ sc1.name }}</h6></li>
                                                    {% for souscat in sc1.sousCategories %}
                                                        <li><a href="#">{{ souscat.name }}</a></li>
                                                    {% endfor %}
                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /category nav -->

                <!-- menu nav -->
                
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- HOME -->
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick" style="margin-bottom: 50px;margin-top: -51px;">
                    {{ render(controller('App\\Controller\\Back\\SlidersController::listInFront')) }}
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOME -->

    <!-- section banners three in line-->
    {#<div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- banner -->
                <div class="col-md-4 col-sm-6">
                    <a class="banner banner-1" href="#">
                        <img src="{{asset('e-shop/img/banner10.jpg')}}" alt="" style="height: 180px;">
                        <div class="banner-caption text-center">
                            <h4 class="white-color">NEW COLLECTION</h4>
                        </div>
                    </a>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>#}
    <!-- /section -->
    <!-- start categories -->
        {% include 'includes/front/index/categories.html.twig' %}
    <!-- end categories -->
   
{% endblock %}
{% block javascripts %}
<script>
    {% for categorie in sc2 %}
        $('#product-slick-{{categorie.id}}').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: false,
    infinite: true,
    speed: 300,
    dots: true,
    arrows: false,
    appendDots: '.product-slick-dots-1',
    responsive: [{
        breakpoint: 991,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 480,
        settings: {
          dots: false,
          arrows: true,
          slidesToShow: 1,
          slidesToScroll: 1,
        }
      },
    ]
  });
    {% endfor %}
    </script>
{% endblock %}
