<div id="adresse{{adresse.id}}">
    <div class="text-left">
        <i class="fa fa-map-marker"></i> {{ adresse.rue }}  {% if(adresse.residence) %}, résidence {{adresse.residence}}{% endif %} {{ adresse.ville }} - {{ adresse.gouvernaurat }}, {{ adresse.pays }} 
    </div>
    <div class="text-right">
        <button type="button" class="main-btn" data-toggle="modal" data-target="#editAdresseModal{{adresse.id}}"><i class="fa fa-pencil"></i></button>
        <button type="button" data-id="{{adresse.id}}" data-url="{{ path('adresses_user_delete', {id : adresse.id}) }}" class="main-btn delete-adress"><i class="fa fa-trash-o"></i></button>
    </div>
    <hr>
</div>
<div id="editAdresseModal{{adresse.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <!-- Modal content-->
            {{ render(controller(
                'App\\Controller\\Front\\AdressesUserController::editAdresseUser',
                    { 'adresseUser': adresse }
            )) }}
        </div>

    </div>
</div>    
